<html>
     <head>
          <title>My Workroom</title>
          <link rel="stylesheet" type="text/css" href="/semantic-ui/css/semantic.min.css"></link>
          <link rel="stylesheet" type="text/css" href="/app/dashboard.css"></link>
          <script type="text/javascript" src="/handlebars/2.0.0/handlebars.runtime.js"></script>
          <script type="text/javascript" src="/app/view.compiled.js"></script>
          <script type="text/javascript" src="/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript" src="/jquery/1.11.1/jquery-ui.min.js"></script>
          <script type="text/javascript" src="/semantic-ui/javascript/semantic.min.js"></script>

          <script type="text/javascript" src="/app/dashboard.js"></script>
          <script type="text/javascript" src="/app/menu.js"></script>
          <script type="text/javascript" src="/app/sections.js"></script>
          <script type="text/javascript" src="/app/links.js"></script>
          <script type="text/javascript" src="/app/notes.js"></script>
     </head>
     <body>
          <div id="dashboard-content" class="three column doubling ui grid"></div>
     </body>
</html>