<html>
     <head>
          <title>My Workroom</title>
          <link rel="stylesheet" type="text/css" href="/semantic-ui/css/semantic.min.css"></link>
          <script type="text/javascript" src="/handlebars/2.0.0/handlebars.runtime.js"></script>
          <script type="text/javascript" src="/app/view.compiled.js"></script>
          <script type="text/javascript" src="/jquery/1.11.1/jquery.min.js"></script>
          <script type="text/javascript" src="/semantic-ui/javascript/semantic.min.js"></script>

          <script type="text/javascript" src="/app/dashboard.js"></script>
          <script type="text/javascript" src="/app/menu.js"></script>
          <script type="text/javascript" src="/app/sections.js"></script>
          <script type="text/javascript" src="/app/links.js"></script>
          <script type="text/javascript" src="/app/notes.js"></script>

          <style type="text/css">
               body {
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: none;
                    font-family: sans-serif;
                    background-color: #FCFCFC;
               }
               .left-button-spacing {
                    margin-left: 5px !important;
               }
          </style>
     </head>
     <body>
          <div id="new-section-modal" class="ui modal">
               <div class="header">
                    New Section
               </div>
               <div class="content">
                    <div id="new-section-create-form" class="ui form">
                         <div class="field">
                              <label for="new-section-name">Name</label>
                              <input id="new-section-name" name="new-section-name" type="text"/>
                         </div>
                    </div>
               </div>
               <div class="actions">
                    <div id="new-section-cancel" class="ui button">
                         Cancel
                    </div>
                    <div id="new-section-create" class="ui teal submit button">
                         Create
                    </div>
               </div>
          </div>

          <div id="edit-section-modal" class="ui modal">
               <input type="hidden" id="edit-section-id" value="" />
               <div class="header">
                    Edit Section
               </div>
               <div class="content">
                    <div class="ui form">
                         <div class="field">
                              <label for="edit-section-name">Name</label>
                              <input id="edit-section-name" type="text"/>
                         </div>
                    </div>
               </div>
               <div id="edit-section-actions" class="actions">
               </div>
          </div>

          <div id="delete-section-modal" class="ui basic modal">
               <input type="hidden" id="delete-section-id" value="" />
               Are you sure you want to delete section <b id="delete-section-label"></b>?
               <div id="delete-section-actions" class="actions">
               </div>
          </div>

          <div id="create-link-modal" class="ui modal">
               <input type="hidden" id="new-link-section-id" value="" />
               <div class="header">
                    New Link
               </div>
               <div class="content">
                    <div class="ui form">
                         <div class="field">
                              <label for="new-link-name">Name</label>
                              <input id="new-link-name" type="text"/>
                         </div>
                         <div class="field">
                              <label for="new-link-url">URL</label>
                              <input id="new-link-url" type="text"/>
                         </div>
                    </div>
               </div>
               <div id="new-link-actions" class="actions">
               </div>
          </div>

          <div id="edit-link-modal" class="ui modal">
               <input type="hidden" id="edit-link-id" value="" />
               <div class="header">
                    Edit Link
               </div>
               <div class="content">
                    <div class="ui form">
                         <div class="field">
                              <label for="edit-link-name">Name</label>
                              <input id="edit-link-name" type="text"/>
                         </div>
                         <div class="field">
                              <label for="edit-link-url">URL</label>
                              <input id="edit-link-url" type="text"/>
                         </div>
                    </div>
               </div>
               <div id="edit-link-actions" class="actions">
               </div>
          </div>

          <div id="delete-link-modal" class="ui basic modal">
               <input type="hidden" id="delete-link-id" value="" />
               Are you sure you want to delete link <b id="delete-link-label"></b>?
               <div id="delete-link-actions" class="actions">
               </div>
          </div>

          <div id="create-note-modal" class="ui modal">
               <input type="hidden" id="new-note-section-id" value="" />
               <div class="header">
                    New Note
               </div>
               <div class="content">
                    <div class="ui form">
                         <div class="field">
                              <label for="new-note-name">Name</label>
                              <input id="new-note-name" type="text" />
                         </div>
                         <div class="field">
                              <label for="new-note-content">Content</label>
                              <textarea id="new-note-content"></textarea>
                         </div>
                    </div>
               </div>
               <div id="new-note-actions" class="actions">
               </div>
          </div>

          <div id="edit-note-modal" class="ui modal">
               <input type="hidden" id="edit-note-id" value="" />
               <div class="header">
                    Edit Note
               </div>
               <div class="content">
                    <div class="ui form">
                         <div class="field">
                              <label for="edit-note-name">Name</label>
                              <input id="edit-note-name" type="text" />
                         </div>
                         <div class="field">
                              <label for="edit-note-content">Content</label>
                              <textarea id="edit-note-content"></textarea>
                         </div>
                    </div>
               </div>
               <div id="edit-note-actions" class="actions">
               </div>
          </div>

          <div id="view-note-modal" class="ui modal">
               <div id="view-note-header" class="header"></div>
               <pre id="view-note-content" class="content"></pre>
               <div id="view-note-actions" class="actions">
               </div>
          </div>

          <div id="delete-note-modal" class="ui basic modal">
               <input type="hidden" id="delete-note-id" value="" />
               Are you sure you want to delete note <b id="delete-note-label"></b>?
               <div id="delete-note-actions" class="actions">
               </div>
          </div>

          <div id="dashboard-content" class="three column doubling ui grid"></div>
     </body>
</html>