<div id="create-link-modal" class="ui modal">
     <input type="hidden" id="new-link-section-id" value="" />
     <div class="header">
          New Link
     </div>
     <div class="content">
          <div class="ui form">
               <div class="field">
                    <label for="new-link-name">Name</label>
                    <input id="new-link-name" type="text" />
               </div>
               <div class="field">
                    <label for="new-link-url">URL</label>
                    <input id="new-link-url" type="text" />
               </div>
          </div>
     </div>
     <div id="new-link-actions" class="actions">
     </div>
</div>