<div id="delete-link-modal" class="ui basic modal">
     <input type="hidden" id="delete-link-id" value="" />Are you sure you want to delete link <b id="delete-link-label"></b>?
     <div id="delete-link-actions" class="actions">
     </div>
</div>