<div id="edit-link-modal" class="ui modal">
     <input type="hidden" id="edit-link-id" value="" />
     <div class="header">
          Edit Link
     </div>
     <div class="content">
          <div class="ui form">
               <div class="field">
                    <label for="edit-link-name">Name</label>
                    <input id="edit-link-name" type="text" />
               </div>
               <div class="field">
                    <label for="edit-link-url">URL</label>
                    <input id="edit-link-url" type="text" />
               </div>
          </div>
     </div>
     <div id="edit-link-actions" class="actions">
     </div>
</div>