<div id="create-note-modal" class="ui modal">
     <input type="hidden" id="new-note-section-id" value="" />
     <div class="header">
          New Note
     </div>
     <div class="content">
          <div class="ui form">
               <div class="field">
                    <label for="new-note-name">Name</label>
                    <input id="new-note-name" type="text" />
               </div>
               <div class="field">
                    <label for="new-note-content">Content</label>
                    <textarea id="new-note-content"></textarea>
               </div>
          </div>
     </div>
     <div id="new-note-actions" class="actions">
     </div>
</div>