<div id="delete-note-modal" class="ui basic modal">
     <input type="hidden" id="delete-note-id" value="" />Are you sure you want to delete note <b id="delete-note-label"></b>?
     <div id="delete-note-actions" class="actions">
     </div>
</div>