<div id="edit-note-modal" class="ui modal">
     <input type="hidden" id="edit-note-id" value="" />
     <div class="header">
          Edit Note
     </div>
     <div class="content">
          <div class="ui form">
               <div class="field">
                    <label for="edit-note-name">Name</label>
                    <input id="edit-note-name" type="text" />
               </div>
               <div class="field">
                    <label for="edit-note-content">Content</label>
                    <textarea id="edit-note-content"></textarea>
               </div>
          </div>
     </div>
     <div id="edit-note-actions" class="actions">
     </div>
</div>