<div id="view-note-modal" class="ui modal">
     <div id="view-note-header" class="header"></div>
     <pre id="view-note-content" class="content"></pre>
     <div id="view-note-actions" class="actions">
     </div>
</div>