<div id="delete-section-modal" class="ui basic modal">
     <input type="hidden" id="delete-section-id" value="" />Are you sure you want to delete section <b id="delete-section-label"></b>?
     <div id="delete-section-actions" class="actions">
     </div>
</div>