<div id="edit-section-modal" class="ui modal">
     <input type="hidden" id="edit-section-id" value="" />
     <div class="header">
          Edit Section
     </div>
     <div class="content">
          <div class="ui form">
               <div class="field">
                    <label for="edit-section-name">Name</label>
                    <input id="edit-section-name" type="text" />
               </div>
          </div>
     </div>
     <div id="edit-section-actions" class="actions">
     </div>
</div>