<div class="ui menu">
     <div class="item">My Workroom</div>
     <div class="right edits item">
          <div id="edits-button" class="mini ui teal button">Edit</div>
     </div>
     <div class="right edits-complete item">
          <div id="edits-complete-button" class="mini ui teal button">Done Editing</div>
     </div>
     <div class="right default item">
          <div id="new-section" class="mini ui button">New Section</div>
     </div>
</div>